################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpeedyAirApp/FileContentIndex/7bdf8033-e354-416e-8497-651be81b48fa.vsidx
/.vs/SpeedyAirApp/FileContentIndex/e3d054f7-94b2-4ae6-aa26-1d7f975af144.vsidx
/.vs/SpeedyAirApp/FileContentIndex/026e4be0-2759-488d-b94b-0748e14af007.vsidx
/.vs/SpeedyAirApp/FileContentIndex/71e32fec-559f-4296-b1d8-a250cd6a14ac.vsidx
*.vsidx
/SpeedyAirConsoleApp/.vs/SpeedyAir.ConsoleApp/v17/.suo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/ref/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/refint/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.AssemblyInfo.cs
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.AssemblyInfoInputs.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.csproj.AssemblyReference.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.sourcelink.json
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Data/obj/Debug/net8.0/ref/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/refint/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.AssemblyInfo.cs
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.AssemblyInfoInputs.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.csproj.AssemblyReference.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.sourcelink.json
/SpeedyAir.Entities/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Entities/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Entities/obj/Debug/net8.0/ref/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/refint/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.AssemblyInfo.cs
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.AssemblyInfoInputs.cache
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.sourcelink.json
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.exe
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.AssemblyInfo.cs
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.AssemblyInfoInputs.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.csproj.AssemblyReference.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.pdb
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.sourcelink.json
/SpeedyAirConsoleApp/obj/Debug/net8.0/apphost.exe
/SpeedyAirConsoleApp/obj/Debug/net8.0/ref/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/obj/Debug/net8.0/refint/SpeedyAir.ConsoleApp.dll
