################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpeedyAirApp/FileContentIndex/7bdf8033-e354-416e-8497-651be81b48fa.vsidx
/.vs/SpeedyAirApp/FileContentIndex/e3d054f7-94b2-4ae6-aa26-1d7f975af144.vsidx
/.vs/SpeedyAirApp/FileContentIndex/026e4be0-2759-488d-b94b-0748e14af007.vsidx
/.vs/SpeedyAirApp/FileContentIndex/71e32fec-559f-4296-b1d8-a250cd6a14ac.vsidx
*.vsidx
/SpeedyAirConsoleApp/.vs/SpeedyAir.ConsoleApp/v17/.suo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
