################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpeedyAirApp/FileContentIndex/7bdf8033-e354-416e-8497-651be81b48fa.vsidx
/.vs/SpeedyAirApp/FileContentIndex/e3d054f7-94b2-4ae6-aa26-1d7f975af144.vsidx
/.vs/SpeedyAirApp/FileContentIndex/026e4be0-2759-488d-b94b-0748e14af007.vsidx
/.vs/SpeedyAirApp/FileContentIndex/71e32fec-559f-4296-b1d8-a250cd6a14ac.vsidx
*.vsidx
/SpeedyAirConsoleApp/.vs/SpeedyAir.ConsoleApp/v17/.suo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/ref/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/refint/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.AssemblyInfo.cs
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.AssemblyInfoInputs.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.csproj.AssemblyReference.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.sourcelink.json
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Data/obj/Debug/net8.0/ref/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/refint/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.AssemblyInfo.cs
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.AssemblyInfoInputs.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.csproj.AssemblyReference.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.sourcelink.json
/SpeedyAir.Entities/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Entities/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Entities/obj/Debug/net8.0/ref/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/refint/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.AssemblyInfo.cs
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.AssemblyInfoInputs.cache
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.sourcelink.json
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.BusinessLogic.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.BusinessLogic.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.exe
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Data.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Data.pdb
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Entities.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.Entities.pdb
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.AssemblyInfo.cs
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.AssemblyInfoInputs.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.csproj.AssemblyReference.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.pdb
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.sourcelink.json
/SpeedyAirConsoleApp/obj/Debug/net8.0/apphost.exe
/SpeedyAirConsoleApp/obj/Debug/net8.0/ref/SpeedyAir.ConsoleApp.dll
/SpeedyAirConsoleApp/obj/Debug/net8.0/refint/SpeedyAir.ConsoleApp.dll
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/Data/coding-assigment-orders.json
/SpeedyAir.BusinessLogic/bin/Debug/net8.0/SpeedyAir.BusinessLogic.deps.json
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAi.2BEFAEC5.Up2Date
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.assets.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.csproj.CoreCompileInputs.cache
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.csproj.FileListAbsolute.txt
/SpeedyAir.BusinessLogic/obj/Debug/net8.0/SpeedyAir.BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
/SpeedyAir.BusinessLogic/obj/project.nuget.cache
/SpeedyAir.Data/bin/Debug/net8.0/Data/coding-assigment-orders.json
/SpeedyAir.Data/bin/Debug/net8.0/SpeedyAir.Data.deps.json
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAi.BAF192D5.Up2Date
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.assets.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.csproj.CoreCompileInputs.cache
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.csproj.FileListAbsolute.txt
/SpeedyAirConsoleApp/bin/Debug/net8.0/appsettings.json
/SpeedyAirConsoleApp/bin/Debug/net8.0/Data/coding-assigment-orders.json
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/Newtonsoft.Json.dll
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.deps.json
/SpeedyAirConsoleApp/bin/Debug/net8.0/SpeedyAir.ConsoleApp.runtimeconfig.json
/SpeedyAir.Data/obj/Debug/net8.0/SpeedyAir.Data.GeneratedMSBuildEditorConfig.editorconfig
/SpeedyAir.Data/obj/project.nuget.cache
/SpeedyAir.Entities/bin/Debug/net8.0/SpeedyAir.Entities.deps.json
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.assets.cache
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.csproj.CoreCompileInputs.cache
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.csproj.FileListAbsolute.txt
/SpeedyAir.Entities/obj/Debug/net8.0/SpeedyAir.Entities.GeneratedMSBuildEditorConfig.editorconfig
/SpeedyAir.Entities/obj/project.nuget.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAi.B291B25D.Up2Date
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.assets.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.csproj.CoreCompileInputs.cache
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.csproj.FileListAbsolute.txt
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/SpeedyAirConsoleApp/obj/Debug/net8.0/SpeedyAir.ConsoleApp.genruntimeconfig.cache
/SpeedyAirConsoleApp/obj/project.nuget.cache
